body {
    background-image: url(images/bg-question.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.container {
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 20px;
    margin-top: 100px;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    font-family: "Playfair Display";
    align-items: center;
    justify-items: center;
    padding-top: 20px;
}

.container img {
    width: 220px;
    height: 150px;
    border-radius: 20px;
}

.pilihan {}

input[type="radio"]:checked+img {
    border: 3px solid rgb(78, 32, 78);
    box-shadow: 0 0 10px rgb(96, 50, 96);
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev {
    left: -20px !important;
    top: 25px !important;
}

.carousel-control-next {
    right: -20px !important;
    top: 25px !important;
}

.pertanyaan {
    background-color: rgba(31, 30, 30, 0.704);
    padding: 70px;
    padding-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
}

form button {
    border-radius: 20px;
    background-color: brown;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin: 20px;
}